@import 'compass';
@import 'ext4/default/all';
@import 'scrollabledataview.scss';

html {
  height: 100%;
  background: url(../images/pattern_bg.png);
}
header, nav, section, article, aside, footer {
  display: block;
}
@font-face {
    font-family: 'HelveticaNeueCyrRoman';
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyrHeavy';
    src: url('../fonts/helveticaneuecyr-heavy-webfont.eot');
    src: url('../fonts/helveticaneuecyr-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-heavy-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-heavy-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyrBold';
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ALSRublRegular';
    src: url('../fonts/rouble-webfont.eot');
    src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rouble-webfont.woff') format('woff'),
         url('../fonts/rouble-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NoteworthyLight';
    src: url('../fonts/noteworthy-webfont.eot');
    src: url('../fonts/noteworthy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/noteworthy-webfont.woff') format('woff'),
         url('../fonts/noteworthy-webfont.ttf') format('truetype');
    src: local('NoteworthyLight');
    font-weight: normal;
    font-style: normal;
}

#header {

}

.x-body {
  color: black;
  height: 100%;
  font-size: 12px;
  line-height: 18px;
  font-family: HelveticaNeueCyr;
}

a {
  color: blue;
  outline: none;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
p {
  margin: 0 0 18px
}
img {
  border: none;
}
input {
  vertical-align: middle;
}

.x-panel-default {
  border: none;
}
.x-panel-body-default {
  background: none;
  border: none;
  color: black;
  .category-name {
    font-size: 24px;
    margin-top: -10%;
    color: #68113e;
    a {color: #68113e; text-decoration: none;}
  }
  .category-sub-name {
    font-size: 16px;
    height: 34px;
    margin: 7% 0;
    width: 130px;
    float: left;
  }
  .info-icon {
    width: 26px;
    height: 26px;
    float: right;
    margin-top: 20px;
    background: url(../images/info-icon.png);
  }
  .x-container {
    padding-right: 25px;
    .list {
      font-size: 14px;
      clear: both;
      li {
        border-bottom: 1px dotted #abaaa8;
        height: 14px;
        margin-bottom: 10px;
        span {height: 15px; background: #f0eeef;}
        .price {
          float: right;
          .rub {font-family: ALSRublRegular; font-weight: lighter;}
          .price-change-down {
            width: 10px;
            height: 12px;
            display: inline-block;
            background: url(../images/greenarr.gif) no-repeat right;
          }
          .price-change-up {
            width: 10px;
            height: 12px;
            display: inline-block;
            background: url(../images/redarr.gif) no-repeat right;
          }
        }
      }
    }
  }
}

#mainpage-title {
  #mainpage-title-body {
    font-family: Noteworthy;
    font-size: 24px;
    text-align: center;
    width: 310px !important;
    line-height: 28px;
    margin: 1% auto 0;
  }
}

#mainpage-categoriespanel {
  padding: 0 30px;
}

.x-panel {
  .x-panel-body {
    .x-box-inner {
      .x-btn-default-small {
        background-color: transparent;
        background-image: none;
        border: none;
        margin: 20px 30px 0 0;
      }
      .login {
        display: inline-block;
        
        width: 36px;
        height: 35px;
        background: url(../images/profile.png) no-repeat;
      }
    }
  }
}
nav {
  position: absolute;
  z-index: 1;
  margin-top: 7px;
  a{
    display: inline-block;
    height: 36px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: HelveticaNeueCyr;
    font-size: 13px;
    font-weight: bold;
  }
  .home-tab {
    width: 171px;
    height: 71px;
    z-index: 3;
    position: absolute;
    background: url(../images/home.png) center right no-repeat;
  }
  .choose-tab {
    width: 142px;
    z-index: 4;
    position: absolute;
    left: 161px;
    top: 12px;
    background: url(../images/choose-tab.png) center right no-repeat;
  }
  .list-tab {
    width: 137px;
    z-index: 5;
    top: 12px;
    position: absolute;
    left: 295px;
    background: url(../images/list-tab.png) center right no-repeat;
  }
  .shops-tab {
    width: 133px;
    z-index: 6;
    position: absolute;
    left: 424px;
    top: 12px;
    background: url(../images/shops-tab.png) center right no-repeat;
  }
}

#mainpage-pricestat {
  margin: 0 30px;
  background: url(../images/hr.gif) center right repeat-x;
  #mainpage-pricestat-body {
    #mainpage-pricestat-button {
      top: 9px !important;
    }
    .price-stat-button {

      font-size: 12px !important;
      color: #18181a;
      border: 1px solid #acacaa;
      text-decoration: none;
      width: 154px;
      padding-top: 5px;
      height: 30px !important;
      background-color: #ffffff; // Old browsers
      @include filter-gradient(#ffffff, #f5f4f0, vertical); // IE6-9
      @include background-image(linear-gradient(top,  #ffffff 0%,#ded9d3 4%,#e8e5e0 50%,#f5f4f0 100%));
      @include border-radius(3px);
      @include text-shadow(0px 1px 0px #fff);
    }
  }
}

#footer {
  margin: 0 30px;
  margin-top: 30px;
  @include box-shadow(0px 1px 0px #fff inset);
  border-top: 1px solid #c5c1c0;
  #footer-body {
    padding-top: 20px;
    font-size: 12px;
    #viewport-addshop-button {
      top: 0px !important;
      .add-shop-button {
        width: 154px;
        float: right;
        font-size: 12px !important;
        height: 28px;
        padding-top: 4px;
        //margin-right: 30px;
        border: 1px solid #acacaa;
        text-decoration: none;
        color: #18181a;
        background-color: #ffffff; // Old browsers
        @include filter-gradient(#ffffff, #f5f4f0, vertical); // IE6-9
        @include background-image(linear-gradient(top,  #ffffff 0%,#ded9d3 4%,#e8e5e0 50%,#f5f4f0 100%));
        @include border-radius(3px);
        @include text-shadow(0px 1px 0px #fff);
      }
    }
  }
}

















