/* line 1, ../sass/animation.scss */
#cardpanel, #products, #cardpanel-body {
  overflow: visible; }

/* line 4, ../sass/animation.scss */
#viewport-loginbutton {
  z-index: 1; }

/* line 7, ../sass/animation.scss */
.scrollable-dataview-item {
  position: relative; }
