/* line 1, ../sass/scrollabledataview.scss */
.scrollable-dataview-item {
  display: inline-block;
  margin: 20px; }

/* line 5, ../sass/scrollabledataview.scss */
.scroller-container {
  height: 20px;
  border: 1px solid black;
  border-radius: 5px;
  display: -webkit-box;
  -webkit-box-align: center; }
  /* line 11, ../sass/scrollabledataview.scss */
  .scroller-container .scroller {
    background: #bb3346;
    border-radius: 5px;
    height: 16px;
    width: 0px; }
